/*

    Псевдоклассы

*/

:root {
    --test-elem-size: 400px;
}

* {
    box-sizing: border-box;
}

#test {

    height: var(--test-elem-size);
    width: var(--test-elem-size);
    background: dodgerblue;
}

#test:hover {
    cursor: grab;
}

#test:active {
    border: 4px solid blue;
    cursor: grabbing;
}
