/*

    Селекторы потомков

*/

/*
    Селекторы дочерних элементов
*/

#parent1 > p {
    color: blue;
}

/*#parent1 > #div2 {
    font-size: 40px;
}*/

#parent1 > .child {

    color: red;

}


/*
    Селекторы элементов одного уровня
*/


/*

    Псевдоклассы

*/
