/*

    Псевдоклассы

*/

:root {
    --test-elem-size: 50px;
}

* {
    box-sizing: border-box;
}

.test {

    height: var(--test-elem-size);
    width: var(--test-elem-size);
    background: dodgerblue;
    margin: 20px auto;
}

.test:hover {
    cursor: grab;
}

.test:active {
    border: 4px solid blue;
    cursor: grabbing;
}

.test:focus {
    outline: darkblue double 4px;
}

